          <li class="canton-item" data-feature-id="$bfs" data-search="$search">
            <img class="canton-coat-of-arms" src="../canton/$code.png" width="40" alt="" decoding="async">
            <div class="canton-details">
              <h2><a href="../canton/$code.html">$name</a></h2>
              <p>$upper_code <span class="detail-separator">·</span> Seat: $seat <span class="detail-separator">·</span> BFS $bfs</p>
              <p class="canton-stats">$subdivision_stats</p>
            </div>
            <a class="canton-next" href="../canton/$code.html" aria-label="View $name"><span aria-hidden="true">›</span></a>
          </li>
